* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.main-content {
    display: grid;
    grid-template-columns: 300px 700px;
    min-height: 1000px;
    width : 90%;
    border: 3px solid silver;
}

.right-section {
    width: 90%;
    min-height: 1000px;
    grid-column: span 1 / span 2;
}

.left-section {
    background-color: rgb(5, 80, 105);
    color: white;
    padding: 1rem;
    min-height: 1000px;
    grid-column: span 1;
}

.profile img {
    border: 5px solid white;
    border-radius: 30%;
    display: block;
    margin: auto;
    width: 60%;
}

.name {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0.8rem;
    letter-spacing: 0.02px;
}

.designation {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.left-section p {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;

}

.social-media ul {
    position: relative;
    top: 30px;
    display: flex;

}

.personal-info ul {
    position: relative;
    top: 50px;
    font-size: 100%;
}

.personal-info ul li {
    margin-top: 1.5%;
}

.ico {
    color: rgb(20, 19, 19);
    font-weight: bolder;
    font-size: 130%;
}

.skill {
    position: relative;
    top: 80px;
}

.skills {
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem 1rem 0.5rem;
}

.skill-name {
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}

.progress-bar {
    border: 1px solid white;
    height: 4px;
    background-color: white;
    border-radius: 5px;
}

#html {
    width: 90%;
}

#java {
    width: 90%;
}

#js {
    width: 40%;
}

#css {
    width: 70%;
}



.skill-item {
    margin-top: 5%;
}

.right-main-content {
    padding: 2rem 3rem 2rem 3rem;
}

.right-title {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}

.right-main-content section {
    margin-top: 3%;
}

.grad,
.twelve,
.tenth {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 60%;
}

.right {
    text-align: center;
}

.education-content div {
    margin-top: 1%;
}

.project-content div {
    margin-top: 1%;
}

.countdown-project {
    display: flex;
    justify-content: space-between;

}

.countdown-project .left p {
    margin-top: 3%;
}


.about-sect p {
    margin-top: 2%;
}


@media screen and (max-width: 630px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 673px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}




